## Identiftication of Frequent Named Entities

Identifying frequent named entities from tweets

In [1]:
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf

from pyspark.sql.functions import desc

In [2]:
database = "analysisDB"
collection = "covid_nes" #

In [3]:
spark = SparkSession \
    .builder \
    .appName("myApp") \
    .config("spark.mongodb.input.uri=mongodb://mongo:27017/"+database+"."+collection) \
    .config("spark.mongodb.output.uri=mongodb://mongo:27017/"+database+"."+collection) \
    .config('spark.jars.packages', 'org.mongodb.spark:mongo-spark-connector_2.11:2.3.2') \
    .getOrCreate()

sc = spark.sparkContext

In [4]:
df = spark.read.format("com.mongodb.spark.sql.DefaultSource").option("uri","mongodb://mongo:27017/"+database+"."+collection).load()
df.columns

['_id', 'text', 'type']

In [5]:
df.groupBy('text').count().sort(desc('count')).show()

+-------------+-----+
|         text|count|
+-------------+-----+
|          one|23543|
|        today|17104|
|           uk|10168|
|        india| 7747|
|        first| 7460|
|            1| 6033|
|     covid-19| 5984|
|            2| 5558|
|  coronavirus| 5184|
|            3| 4997|
|           us| 4849|
|neil ferguson| 4764|
|    americans| 4546|
|  new zealand| 4334|
|    yesterday| 4257|
|        china| 3873|
|          two| 3598|
|      arizona| 3383|
|       not q/| 3182|
|           14| 2937|
+-------------+-----+
only showing top 20 rows

In [6]:
# Frequent Organisations
df.filter(df['type'] == 'ORG').groupBy('text').count().sort(desc('count')).show()

+--------------------+-----+
|                text|count|
+--------------------+-----+
|         coronavirus| 4885|
|                govt| 2860|
|                 dmk| 2219|
|             do &amp| 2067|
|                &amp| 1852|
|                 bmc| 1814|
|         @officeofut| 1796|
|   seattle city hall| 1447|
|   indiafightscorona| 1256|
|                  eu| 1125|
|           like &amp| 1112|
|                nike| 1076|
|  boleh tak kerajaan| 1040|
|china violating r...|  935|
|      the trash &amp|  758|
|                  un|  744|
|the republican ec...|  667|
|                 app|  657|
|          healthcare|  633|
|https://t.co/85f5...|  614|
+--------------------+-----+
only showing top 20 rows

In [7]:
# Frequent Persons
df.filter(df['type'] == 'PERSON').groupBy('text').count().sort(desc('count')).show()

+--------------------+-----+
|                text|count|
+--------------------+-----+
|       neil ferguson| 4762|
|              not q/| 3182|
|             uk govt| 1486|
|                kemi| 1102|
|               trump| 1000|
|                 inf|  803|
|       @borisjohnson|  735|
|       boris johnson|  713|
|              corona|  693|
|        pretty stark|  666|
|               fauci|  570|
|              bowser|  534|
|                  ðŸ“¢|  512|
|                  ma|  496|
|                  cm|  472|
|               henry|  466|
|              punjab|  439|
|https://t.co/kpgm...|  438|
|        george floyd|  433|
|               bingo|  429|
+--------------------+-----+
only showing top 20 rows

In [8]:
# Frequent Locations
df.filter(df['type'] == 'LOC').groupBy('text').count().sort(desc('count')).show()

+--------------------+-----+
|                text|count|
+--------------------+-----+
|               earth| 1347|
|              europe| 1225|
|              africa|  943|
|                asia|  403|
|       latin america|  216|
|             kashmir|  198|
|            bay area|   72|
|muzaffarnagar dis...|   67|
|       north america|   66|
|         middle east|   51|
|       mediterranean|   49|
|            americas|   46|
|                west|   44|
|           caribbean|   38|
|     sirohi district|   36|
|             pacific|   36|
|            covid-19|   34|
|       most bay area|   33|
|     the middle east|   31|
|                mars|   30|
+--------------------+-----+
only showing top 20 rows

In [9]:
# Frequent Events
df.filter(df['type'] == 'EVENT').groupBy('text').count().sort(desc('count')).show()

+--------------------+-----+
|                text|count|
+--------------------+-----+
|  air force marathon|   25|
|         @pacaf 82nd|   22|
|              series|   21|
| tokyo olympic games|   14|
|    hurricane season|   12|
|           world cup|   11|
| covid-19 recoveries|   10|
| covid19india corona|    9|
|        world war ii|    9|
| spanishflu pandemic|    9|
|@gavinnewsom @xav...|    8|
| covid-19 response -|    8|
|            olympics|    7|
|   world refugee day|    7|
|          this â¬‡â¬‡â¬‡â¬‡â¬‡|    6|
|the great depression|    6|
|cultural marathon...|    5|
|       world war two|    5|
|                 cup|    5|
|        uk - 16 june|    4|
+--------------------+-----+
only showing top 20 rows